.sidebar {
  width: 73px;
  position: fixed;
  top: 54px;
  bottom: 0px;
  left: 0px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  cursor: pointer;
  transition: 100ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover {
  background-color: rgb(242, 241, 241);
}

.sidebar-link img {
  height: 22px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 10px;
  font-family: Roboto, Arial;
}